<h2>Categorical Variables and One Hot Encoding</h2>

In [6]:
import pandas as pd #import pandas for file csv operations.

In [7]:
df = pd.read_csv("homeprices.csv")
df # read home prices and and display that

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [8]:
dummies = pd.get_dummies(df.town) # asign dummies to homeprices.csv in town (text) column.
# that create dummy variable ONE HOT ENCODING See below columns
dummies # display dummies DataFrame

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [9]:
merged = pd.concat([df, dummies],axis='columns') # concate (add two DATA FRAME) using pandas method
# df = csv data freame and dummies data frame [dummies,df] sequence is important.
# we can also concate ROW but here column concating.
merged

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [11]:
#  merged in above DATAFRAME in derived multi co-linier so
# we need to handle that problem DUMMY VARIABLE TRAP
# two columns we need to drop 1)csv in text column 2) ONE HOT ENCODING
df_dummies = merged.drop(['town','west windsor'], axis='columns')
df_dummies

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

In [12]:
X = df_dummies.drop('price', axis='columns') # PRICE IS TARGET VARIABLE SO DROP THAT
X

    area  monroe township  robinsville
0   2600                1            0
1   3000                1            0
2   3200                1            0
3   3600                1            0
4   4000                1            0
5   2600                0            0
6   2800                0            0
7   3300                0            0
8   3600                0            0
9   2600                0            1
10  2900                0            1
11  3100                0            1
12  3600                0            1

In [16]:
y = df_dummies.price # we need to taget variable create
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [17]:
from sklearn.linear_model import LinearRegression # for price prediction for model
model = LinearRegression()

In [18]:
model.fit(X,y) # train model sending to depndent & target value

LinearRegression()

In [20]:
# predict something now
model.predict(X) # whole prices prediction

array([539709.7398409 , 590468.71640508, 615848.20468716, 666607.18125134,
       717366.15781551, 579723.71533005, 605103.20361213, 668551.92431735,
       706621.15674048, 565396.15136531, 603465.38378844, 628844.87207052,
       692293.59277574])

In [21]:
model.score(X,y)

0.9573929037221873

In [23]:
model.predict([[3400,0,0]]) # 3400 sqr ft home in west windsor
#    3400 sqr ft, 0 is monro township, 0 is robinsville , so default west windsor
# see dummy variables

array([681241.66845839])

In [24]:
model.predict([[2800,0,1]]) # also we predict 2800 sqr ft home in robbinsville

array([590775.63964739])

In [26]:
############# USING SKLEARN SAME THING DO NOW ###################
##### ONE HOT ENCODING USING SKLEARN

In [34]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder() # it is assign text column to numbers for used

In [31]:
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [35]:
dfle = df # copy DATA FRAME LABEL ENCODED new variable
dfle.town = le.fit_transform(dfle.town) # fit transform is convert dfle.town to numbers
dfle

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [43]:
X = dfle[['town','area']].values # .VALUES convert to array HERE I USED CAPITAL X VARIABLE
X

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [28]:
y = dfle.price.values
y

array([550000, 565000, 610000, 680000, 725000, 585000, 615000, 650000,
       710000, 575000, 600000, 620000, 695000])

In [44]:
############ NOW USED ONE HOT ENCODEING

In [50]:
from sklearn.preprocessing import OneHotEncoder
# Depreacted #ohe= OneHotEncoder(categorical_features=[0]) # create obj,

In [ ]:
ohe.fit_transform()

In [ ]:
#####################################################################

In [51]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('town', OneHotEncoder(), [0])], remainder = 'passthrough')

In [53]:
X = ct.fit_transform(X)# create dummy variable
X

array([[0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 3.0e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 3.2e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 3.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 4.0e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 2.8e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 2.9e+03],
       [1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 3.1e+03],
       [1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03]])

In [55]:
X = X[:,1:] # (:) meaning take all rows like sql in * symbol
# removeing 1 column

In [56]:
X

array([[0.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 3.0e+03],
       [0.0e+00, 0.0e+00, 3.2e+03],
       [0.0e+00, 0.0e+00, 3.6e+03],
       [0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 1.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 2.9e+03],
       [1.0e+00, 0.0e+00, 3.1e+03],
       [1.0e+00, 0.0e+00, 3.6e+03]])

In [57]:
model.fit(X,y) # train the model

LinearRegression()

In [59]:
model.predict([[0,1,3400]]) # same thing reapeat predict 3400 sqr ft home in west windsor

array([681241.6684584])

In [61]:
model.predict([[1,0,2800]]) # repeat prediction 2800 sqr ft home in robbinsville

array([590775.63964739])

In [63]:
model.score(X,y) # score means model accurancy MY MODEL IS 95% ACCURATE

0.9573929037221873

In [64]:
###############################################